currency-beans/src/main/xsd/beans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:beans.currency.greatbit.ru"
           targetNamespace="urn:beans.currency.greatbit.ru"
           elementFormDefault="qualified">

    <xs:element name="currencyBase" type="CurrencyBase" />
    <xs:complexType name="CurrencyBase">
        <xs:sequence>
            <xs:element name="base" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>